<div class = "row">

  
  <div class="col-md-4 col-md-offset-2">
  <div class="well text-center ">
      <h4><%=@user.first_name%> <%=@user.last_name %>'s Birthday</h4>
    <%= @user.birthday%>  
  </div>
  </div>
  
  <div class="col-md-4 col-md-offset-2">
    <div class="well text-center">
        <h4><%=@user.first_name%> <%=@user.last_name %>'s 10^2 Day!</h4>
    <%= @user.birthday + 100.day%>  
    </div>
  </div>
  
  <div class="col-md-4 col-md-offset-2">
    <div class="well text-center">
        <h4><%=@user.first_name%> <%=@user.last_name %>'s 10^3 Day!</h4>
    <%= @user.birthday + 1000%>  
    </div>
  </div>
    
  <div class="col-md-4 col-md-offset-2">
    <div class="well text-center">
        <h4><%=@user.first_name%> <%=@user.last_name %>'s 10^4 Day!</h4>
    <%= @user.birthday + 10000%>  
    </div>
  </div>   
    
  <div class="col-md-4 col-md-offset-2">
    <div class="well text-center">
        <h4><%=@user.first_name%> <%=@user.last_name %>'s current Day!</h4>
    <%= (Date.today - @user.birthday).to_i%> Days 
    </div>
  </div>
  
  <div class="col-md-4 col-md-offset-2">
    <div class="well text-center">
        <h4><%=@user.first_name%> <%=@user.last_name %>'s</h4> <h5>10^ 
    <%= Math.log(((Date.today - @user.birthday).to_i), 10).round(2)%> Day!</h5>
    </div>
    
   
</div>

<div class="container">
    <div class="col-md-4 col-md-offset-4">
    <div class= "btn btn-success btn-lg btn-block">
        <%= link_to "BACK TO INPUT", root_path %>
    </div>
</div>
</div>